
/* Body styles*/

body {
font-family: helvetica;
text-align: center;
}

/* h1head div and nav styles*/



.h1head{
background-image: url("../images/the-flatiron-building.png");
background-position: center;
background-repeat: no-repeat;

}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.navhead {
  color: white;
  font-size: 18px;
  margin: 200px;

}

#headersection p {
  font-size: 18px;
  color: #000;

}

/* process styles*/

#process h2 {
  font-size: 32px;
  font-weight: bold;

}

#process h3 {
  font-size: 23px;
  font-weight: bold;
  }

#process p {
    font-size: 14px;
    }

/* smallhead styles*/

h2.smallhead {
      background-image: url("../images/the-flatiron-building.png");
      background-position: center;
      color: white;
      }

/* contact styles*/

#contactstyle h3 {
  font-size: 23px;
  font-weight: bold;
  }

#contactstyle p {
    font-size: 14px;
    }


/* footer styles*/

#footer p {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

#footer .footnav {
  color: white;
  font-size: 18px;
  padding: 0px 5px;

}
